

*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}


body{
	background-color: cyan;
}
section{
	display: flex;
	justify-content: center;
}

.main{
	margin: 40px;
	height: 85vh;
	width: 500px;
	border: 2px solid grey;
	border-radius: 3px;
	box-shadow: 0.5px 1px 4px 3px grey;
	position: relative;
	overflow: hidden;
	background-color: #D0D3D4 ;
	
}

.main-up{
	height: 100%;
	width: 100%;
	background-color: teal;
	position: absolute;
	display: flex;
	top: 0%;
	flex-direction: column;
	transition: 1s;
}

.main-up .down{
	color: white;
	font-size: 30px;
	font-family: cursive;
	padding:0 10px;
	float: right;
	height: 35px;
	width: 35px;
	cursor: pointer;
}

.down p{
	transform: rotate(90deg);
	
}
.first{
	height: 10vh;
	margin-top: 5px;
	width: 100%;
	border-bottom:1px solid #9e9e9e4d;
	background-color: #273746;
	border-radius: 2px;
}
.tulisan{
	position: relative;
	margin: 5px;
}

.add{
	height: 40px;
	width: 40px;
	background-color: #03abf4bd;
	border-radius: 50%;
	position: absolute;
	bottom:4vh;
	right:45%;
	display:flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	/*font-weight: bold;*/
	color:white;
	cursor: pointer;
}


.main-up .container-input{
	background-color: darkcyan;
	width: 100%;
	height: 15vh;
	margin-top: 8vh;
	/*overflow: hidden;*/
}


.container-input .input-number{
	height: 5vh;
	width: 100%;
}

.input-number:nth-child(1){
	/*background-color: white;*/
	
	display: flex;
	flex-direction: row;
	/*overflow-y: scroll;*/
}

.input-number:nth-child(2){
	background-color: white;
	border-radius: 15px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.input-number:nth-child(2) div{
	flex-basis: 50%;
	font-size: 25px;
	text-align: right;
	margin-right: 45px;
}

.input-number .jam{
	padding-right: 20px;
}





.input-number .number-asli , .input-number .menit-asli{
	font-size: 25px;
	display: flex;
	flex-basis: 50%;
	cursor: pointer;
	flex-direction: column;
	overflow-y: scroll;
	align-items: center;
	height: 15vh
	}

::-webkit-scrollbar{
	width: 0;
}
 .menit, .number{
 	margin-top: 5px;
 	text-align: center;
 }